<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.productForm}">상품등록</title>
</head>
<body>
    <h2 th:text="#{page.productForm}">상품등록</h2>
    <form action="/product/add" method="post" th:object="${product}">
        <label for="name" th:text="#{label.name}">상품명</label>
        <input type="text" th:field="*{name}" placeholder="상품명을 입력하세요">
        <label for="price" th:text="#{label.price}">상품명</label>
        <input type="number" th:field="*{price}" placeholder="상품가격을 입력하세요">
        <label for="quantity" th:text="#{label.price}">상품명</label>
        <input type="number" th:field="*{quantity}" placeholder="재고수량을 입력하세요">
        <input type="submit" th:value="#{button.save}">
    </form>
</body>
</html>