<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.productForm}">상품등록</title>
    <style>
        .field-error {
            border-color:red;
            color: red;
        }
    </style>

</head>
<body>
    <h2 th:text="#{page.productForm}">상품등록</h2>
    <form action="/product/add" method="post" th:object="${product}">
        <div>
            <label for="name" th:text="#{label.name}">상품명</label>
            <input type="text" th:field="*{name}" placeholder="상품명을 입력하세요">
            <div class="field-error" th:errors="*{name}"> 상품명 오류 </div>
        </div>
        <div>
            <label for="price" th:text="#{label.price}">상품명</label>
            <input type="number" th:field="*{price}" placeholder="상품가격을 입력하세요">
            <div class="field-error" th:errors="*{price}"> 상품가격오류 </div>
        </div>
        <div>
            <label for="quantity" th:text="#{label.quantity}">상품명</label>
            <input type="number" th:field="*{quantity}" placeholder="재고수량을 입력하세요">
            <div class="field-error" th:errors="*{quantity}">재고수량오류 </div>
        </div>
        <input type="submit" th:value="#{button.save}">
    </form>
</body>
</html>